.home{
    padding: 100px 12px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 24px;
}

.home-text h1{
    text-align: left;
    font-size: var(--font-mobile);
    margin-bottom: var(--margin-bottom);
}

.home-text p{
    font-size: var(--font-p-mobile);
    margin-bottom: var(--margin-bottom);
}

.home-text .btn-home{
    border: 1px solid var(--color-yellow);
    padding: 1rem 2rem;
    border-radius: 6px;
    color: var(--color-white);
    transition: .4s;
}

.home-text .btn-home:hover{
    background-color: var(--color-yellow);
}

.home-image img{
    max-width: 100%;
    display: block;
    border-radius: 50%;
    border: 10px solid var(--color-gray);

}

@media (min-width:920px){
    .home{
        grid-template-columns: 1fr 1fr;
    }

    .home h1{
        font-size: var(--font-desktop);
    }
}

